* {
    box-sizing: border-box;
    /* padding-left: 800px; */
  }
  
  ul {
    list-style-type: none;
}
  .box1 {
    /* margin-left: 460px; */
    width: 600px;
    text-align: left;
    padding: 40px;  
    border: 15px solid rgb(239, 242, 245);
    background: rgba(166, 170, 169, 0.267);
  }