* {
    box-sizing: border-box;
  }
  
  ul.ba {
    list-style-type: none;
}
  .box1 {
    /* width: 300px; */
    text-align: center;
    padding: 40px;  
    /* border: 15px solid rgb(155, 218, 209); */
    background: rgba(166, 170, 169, 0.267);
  }